<div ng-show="open" id="dashboard-menu-panel" class="valign-wrapper teal">

	<div class="container valign">

		<div class="row">

			<div class="col s12 m12 l12">

				<!-- Fetching buttons in our "menuButtons" factory -->
				<div ng-repeat="button in buttons">

					<div class="center-align dashboard-menu-block">

						<div ng-click="{button.click()}" class="z-depth-4 dashboard-menu-block-content teal lighten-1">
							<i class="material-icons large hide-on-med-and-down">{{ button.icon }}</i>
							<i class="material-icons medium hide-on-large-only">{{ button.icon }}</i>
							<p class="flow-text">{{ button.libelle }}</p>
						</div>

					</div>

					<!-- Separator for more splitted items on large screens -->
					<div ng-if="$index == 1" class="dashboard-menu-block-divider-large-screens hide-on-small-only"></div>
					<div ng-if="$index == 1" class="dashboard-menu-block-divider-small-screens hide-on-med-and-up"></div>

				</div>

			</div>

		</div>

	</div>

</div>