<!DOCTYPE html>

<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<title>Open-Dj</title>
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="css/materialize.css" rel="stylesheet">
		<link href="css/alertify.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet" type="text/css">
	</head>

	<body>

		<div class="navbar-fixed">

			<nav>

				<div class="nav-wrapper teal lighten-1">
			
					<a href="#" onclick="event.preventDefault();" class="brand-logo center">Open-dj</a>

					<!-- Navigation mobile-->
					<a href="#" onclick="event.preventDefault();" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

					<ul id="slide-out" class="side-nav opendj-mobile-menu teal lighten-1">

						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align volume-indicator-full-text">Volume:<span class="volume-indicator" class="badge"><%= volume %></span></a></li>					
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align volume-up"><i class="medium material-icons">volume_up</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align volume-down"><i class="medium material-icons">volume_down</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align music-resume"><i class="medium material-icons">play_arrow</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align music-pause"><i class="medium material-icons">pause</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align switch-theme"><i class="medium material-icons">invert_colors</i></a></li>

					</ul>

					<!-- Navigation desktop-->
					<ul class="right hide-on-med-and-down">

						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light volume-indicator-full-text">Volume:<span class="volume-indicator" class="badge"><%= volume %></span></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light volume-up"><i class="medium material-icons">volume_up</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light volume-down"><i class="medium material-icons">volume_down</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light music-resume"><i class="medium material-icons">play_arrow</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light music-pause"><i class="medium material-icons">pause</i></a></li>
						<li><a href="#!" onclick="event.preventDefault();" class="waves-effect waves-light center-align switch-theme"><i class="medium material-icons">invert_colors</i></a></li>

					</ul>

				</div>

			</nav>

		</div>

		<div class="container" style="margin-top:3em;">

			<div class="center-align">

				<form>

					<div class="input-field">

						<i class="mdi-action-search prefix"></i>
						<input id="yt-search" type="text" class="validate">
						<label for="yt-search">Musique sur youtube</label>

					</div>

					<div class="input-field">

						<button id="launch-search" class="btn waves-effect waves-light" type="submit">Envoyer
							<i class="mdi-content-send right"></i>
						</button>

					</div>

				</form>
			
			</div>			

			<!-- Résultats des recherches -->
			<div class="row" style="margin-top:5em;">
				
				<div id="search-yt-results">

				</div>
			
			</div>


			<div class="center-align">
				
				<!-- Scroller de resultats -->
				<ul id="yt-result-scroller" class="hidden pager">

					<li id="page-prev" class="hidden waves-effect left"><a href="#!" onclick="event.preventDefault();"><i class="large mdi-navigation-chevron-left"></i></a></li>
					
					<li id="page-next" class="hidden waves-effect right"><a href="#!" onclick="event.preventDefault();"><i class="large mdi-navigation-chevron-right"></i></a></li>
			
				</ul>

			</div>

		</div>

		<!-- Loader d'attente quand le client est hors connexion -->
		<div id="overlay-transparent-loader" class="hidden">

			<div class="preloader-wrapper big active">
				
				<div class="spinner-layer spinner-blue">
					
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				
				</div>

				<div class="spinner-layer spinner-red">
					
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				
				</div>

				<div class="spinner-layer spinner-yellow">
					
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				
				</div>

				<div class="spinner-layer spinner-green">
				
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				
				</div>

			</div>

		</div>

		<!-- ejs init param getter -->
		<div id="config" class="hidden" data-host="<%= host %>" data-port="<%= port %>"></div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="js/jquery-2.0.1.min.js"></script>
		<script src="js/materialize.min.js"></script>
		<script src="js/alertify.min.js"></script>
	
		<!-- Chargement des scripts -->
		<% if(dev === true){ %>
			<script src="js/YoutubePlayer.js"></script>
			<script src="js/SocketsManager.js"></script>
		<% } else{ %>
			<script src="js/Build/open.dj.min.js"></script>
		<% } %>

	</body>

</html>
