<!DOCTYPE html>

<html lang="fr" ng-app="openDj" ng-controller="mainController">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>Open-Dj</title>

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="/css/materialize.min.css" rel="stylesheet">
		<link href="/css/alertify.min.css" rel="stylesheet">

		<!-- Chargement des scripts -->
		<% if(dev === true){ %>
			<link href="css/open-dj.css" rel="stylesheet" type="text/css">
		<% } else{ %>
			<link href="css/Build/open-dj.min.css" rel="stylesheet" type="text/css">
		<% } %>

		<script type="text/javascript" src="/js/libs/angularjs1.5.0.js"></script>

	</head>

	<body ng-class="playerWidget.theme">

		<div ng-show="appGlobalWorkflow.overlay" id="overlay">
			<div class="progress">
				<div class="indeterminate"></div>
			</div>
		</div>

		<nav>

			<div class="nav-wrapper teal lighten-1">

				<a href="#" onclick="event.preventDefault();" class="brand-logo hide-on-med-and-down">
					<img class="open-dj-logo" src="/images/open-dj-logo.svg">
				</a>

				<!-- Mobile menu -->
				<a href="#" onclick="event.preventDefault();" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

				<player-widget></player-widget>

			</div>

		</nav>

		<dash-board-menu-panel></dash-board-menu-panel>

		<youtube-search></youtube-search>

		<!-- Loader d'attente quand le client est hors connexion -->
		<div ng-show="appGlobalWorkflow.disconnectOverlay" id="overlay-transparent-loader">

			<div class="preloader-wrapper big active">

				<div class="spinner-layer spinner-blue">

					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>

				</div>

				<div class="spinner-layer spinner-red">

					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>

				</div>

				<div class="spinner-layer spinner-yellow">

					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>

				</div>

				<div class="spinner-layer spinner-green">

					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>

					<div class="gap-patch">
						<div class="circle"></div>
					</div>

					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>

				</div>

			</div>

		</div>

		<!-- ejs init param getter -->
		<div id="config" class="hidden" data-host="<%= host %>" data-port="<%= port %>"></div>
		<div id="volume" data-volume="<%= volume %>"></div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/libs/jquery-2.0.1.min.js"></script>
		<script src="/js/libs/materialize.min.js"></script>
		<script src="/js/libs/alertify.min.js"></script>

		<!-- Chargement des scripts -->
		<% if(dev === true){ %>
			<script src="/js/openDj.js"></script>
			<script src="/js/openDj.playerWidget.js"></script>
			<script src="/js/openDj.dashBoard.js"></script>
			<script src="/js/openDj.youtube.js"></script>
			<script src="/js/services/socket.service.js"></script>
		<% } else{ %>
			<script src="/js/Build/open.dj.min.js"></script>
		<% } %>

	</body>

</html>
