html{
    height:100%;
    padding: 0;
    margin: 0;
}

body{
    min-height:100%
}

.open-dj-logo{
    padding:.4rem 0px 0px 3rem;
    height:4rem;
}

.open-dj-logo-mobile{
    display:inline-block;
    height:100%;
}

.light-theme{
    background-color:#F6F4F1;
}

.dark-theme{
    background-color:#263238;
}

.no-padding{
    padding:0 !important;
}

.bold{
    font-weight:bold; 
}

/**
 * Styles pour le dashboard
 */
#dashboard-menu-panel{
    position:fixed;
    z-index:1500;
    top:0;
    min-width:100%;
    min-height:100%;
}

.dashboard-menu-block{
    float:left;
    width:50%;
    display:inline-block;
}

/**
 * Content of menu blocks
 */
.dashboard-menu-block-content{
    display:inline-block;
    width:auto;
    cursor:pointer;
    line-height:0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 1em 8% 0em 8%;
    /*padding:1em 0em 0em 0em;*/
}
/**
 * We need a element to divide menu blocks vertically
 */
.dashboard-menu-block-divider-large-screens{
    width:100%;
    display:inline-block;
    padding-top:2.5em;
}

/**
 * The buttons divider for mobiles. No need to add padding,
 * the element himself will do the trick
 */
.dashboard-menu-block-divider-small-screens{
    width:100%;
    display:inline-block;
}

/**
 *	Styles de l'overlay
 *	Pompés sur le fiddle http://jsfiddle.net/eys3d/402/
 */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    z-index:1981;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
#overlay-transparent-loader{
    position:fixed;
    z-index:99999;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

/**
 *  Petit décalage vers la gauche sur l'icone d'ouverture du menu mobile
 */
nav .button-collapse{
    margin-left:1em;
}

/**
 *	Surcharge de la classe bootstrap pour avoir le menu par dessus l'overlay d'attente
 */
.navbar-fixed-top{
	z-index:1982 !important;
}

/**
 *  Style sur menu mobile
 */
.opendj-mobile-menu{
    padding-top:16%;
}

/**
 *  Indicateur de volume
 */
.volume-indicator-full-text{
    font-family:Roboto-Bold;
    font-size:1.2em;
}

/**
 *  Empeche un décalage des boutons qui gache completement les animations dans le menu mobile
 */
#slide-out li{
    padding:0px;
}

/**
 *  Garde un alignement vertical correct dans les boutons du menu mobile
 */
#slide-out i{
    line-height:inherit;
}

/**
 * Empeche la couleur blanche bloquée au survol qui fais mal aux yeux
 */
#slide-out :hover {
    background-color: transparent !important;
}

/**
 *	Surcharge du z-index du module des alertes
 *
 *	Pour faire en sorte qu'il se trouve au dessus du menu site
 */
.progress{
    height:1.5%;
    margin-top:0%;
}

.hidden{
	display:none;
	visibiliy:hidden;
}

.result-block{
    text-align:center;
    margin-bottom:3em;
    overflow:hidden;
}

.result-block-content-wrapper{
    cursor:pointer;
}

.result-block-img{
    width:15em;
}

.result-block-title{
    width:15em;
    padding:
    overflow:hidden;
    white-space:nowrap;
    font-weight:bold;
    text-overflow:ellipsis;
}

/**
 *  Surcharge notifs et dialogs alertifyJS
 *  Permet de garder la police noire en cas
 *  de passage sur le theme sombre
 */
.ajs-message{
    color:black !important;
}
.ajs-dialog{
    color:black !important;
}
