body,html{
    padding: 0;
    margin: 0;
    background-color:#F6F4F1;
}

/**
 *	Styles de l'overlay 
 *	Pompés sur le fiddle http://jsfiddle.net/eys3d/402/
 */
#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    z-index:1981;
    filter: alpha(opacity=80);
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}
#overlay-transparent-loader{
    position:fixed;
    z-index:99999;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

/**
 *  Petit décalage vers la gauche sur l'icone d'ouverture du menu mobile
 */
nav .button-collapse{
    margin-left:1em;
}

/**
 *	Surcharge de la classe bootstrap pour avoir le menu par dessus l'overlay d'attente
 */
.navbar-fixed-top{
	z-index:1982 !important;
}

/**
 *  Style sur menu mobile
 */
.opendj-mobile-menu{
    padding-top:25%;
}

/**
 *  Empeche un décalage des boutons qui gache completement les animations dans le menu mobile
 */
#slide-out li{
    padding:0px;
}

/**
 *  Garde un alignement vertical correct dans les boutons du menu mobile
 */
#slide-out i{
    line-height:inherit;
}

/**
 *	Surcharge du z-index du module des alertes
 *	
 *	Pour faire en sorte qu'il se trouve au dessus du menu site
 */
.progress{
    height:1.5%;
    margin-top:0%;
}

.hidden{
	display:none;
	visibiliy:hidden;
}

.result-block{
    text-align:center;
    margin-bottom:3em;
    overflow:hidden;
}

.result-block-img{
    width:15em;
}

.result-block-title{
    width:15em;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}